

.page{
    min-width: 75vw;
    width: 85vw;
    max-width: 90vw;

    min-height: 65vh;
    height: 70vh;
    max-height: 75vh;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;

    overflow-x: hidden;
    overflow-wrap: normal;
    overflow-y: auto;
}