/* Variables globales de taille */
:root{

    /* Taille des polices de caractères */
    --font_size_extra_large: calc(min(6vh, 6vw));
    --font_size_large: calc(min(5vh, 5vw));
    --font_size_larger: calc(min(4vh, 4vw));
    --font_size_normal: calc(min(3vh, 3vw));
    --font_size_smaller: calc(min(2.5vh, 2.5vw));
    --font_size_small: calc(min(2vh, 2vw));
    --font_size_extra_small: calc(min(1.5vh, 1.5vw));

    /* Taille des éléments généraux */
    --size_xxxl: calc(min(20vh, 20vw));
    --size_xxl: calc(min(16vh, 16vw));
    --size_extra_large: calc(min(12vh, 12vw));
    --size_large: calc(min(10vh, 10vw));
    --size_larger: calc(min(7vh, 7vw));
    --size_normal: calc(min(6vh, 6vw));
    --size_smaller: calc(min(5vh, 5vw));
    --size_small: calc(min(3vh, 3vw));
    --size_extra_small: calc(min(2vh, 2vw));
    --size_tiny: calc(min(1.5vh, 1.5vw));
    --size_extra_tiny: calc(min(1vh, 1vw));
}
