/* Variables globales de taille */
:root{

    /* Taille des polices de caractères */
    --font_size_extra_large: 6vh;
    --font_size_large: 5vh;
    --font_size_larger: 4vh;
    --font_size_normal: 3vh;
    --font_size_smaller: 2.5vh;
    --font_size_small: 1.5vh;
    --font_size_extra_small: 0.5vh;

    /* Taille des éléments généraux */
    --size_extra_large: 12vh;
    --size_large: 10vh;
    --size_larger: 7vh;
    --size_normal: 6vh;
    --size_smaller: 5vh;
    --size_small: 3vh;
    --size_extra_small: 2vh;
}
