/* Variables globales de taille */
:root{

    /* Taille des polices de caractères */
    --font_size_extra_large: calc(min(5vh, 5vw));
    --font_size_large: calc(min(4vh, 4vw));
    --font_size_larger: calc(min(3vh, 3vw));
    --font_size_normal: calc(min(2.5vh, 2.5vw));
    --font_size_smaller: calc(min(2vh, 2vw));
    --font_size_small: calc(min(1.5vh, 1.5vw));
    --font_size_extra_small: calc(min(1vh, 1vw));

    /* Taille des éléments généraux */
    --size_extra_large: calc(min(10vh, 10vw));
    --size_large: calc(min(8vh, 8vw));
    --size_larger: calc(min(4.4vh, 4.4vw));
    --size_normal: calc(min(4vh, 4vw));
    --size_smaller: calc(min(3.6vh, 3.6vw));
    --size_small: calc(min(2.4vh, 2.4vw));
    --size_extra_small: calc(min(1.6vh, 1.6vw));
    --size_tiny: calc(min(1.0vh, 1.0vw));
    --size_extra_tiny: calc(min(0.5vh, 0.5vw));
}
