/*
Styles globaux de l'application

Auteur: Nathan Cerisara
*/


/* /-----/ KeyFrames pour les animations \-----\ */





/* /-----/ Paramètres globaux de styles \-----\ */



/* Styles appliqués à toutes les balises html */
html * {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: var(--font_size_normal);
    color: var(--palette_cl_1);

    /* Toutes les animations fluides */
    transition-duration: 350ms;
    transition-timing-function: ease;
}


/* /-----/ On gère l'affichage par défaut de certaines balises HTML \-----\ */


body{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

h1{
    font-size: var(--font_size_extra_large);
}

h2{
    font-size: var(--font_size_large);
}

h3{
    font-size: var(--font_size_larger);
}

h4{
    font-size: var(--font_size_normal);
}

h5{
    font-size: var(--font_size_smaller);
}

h6{
    font-size: var(--font_size_small);
}

b{
    font-weight: 500;
}

i{
    font-weight: 300;
}

button{
    user-select: none;
    font-size: var(--font_size_normal);
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--palette_cl_5);
    color: var(--palette_cl_1);
    box-shadow: var(--palette_cl_5) 0 0 1px 1px;
}
button:hover{
    cursor: pointer;
    font-size: calc(var(--font_size_normal) * 1.05);
    padding: 6px;
    box-shadow: var(--palette_cl_5) 0 0 2px 2px;
}
button:active{
    font-size: calc(var(--font_size_normal) * 0.95);
    padding: 3px;
    box-shadow: var(--palette_cl_5) 0 0 0 0;
}

.bt_1{
    font-size: var(--font_size_normal);
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--bg1_base);
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px 2px;
}
.bt_1:hover{
    font-size: var(--font_size_larger);
    background-color: var(--bg1_hover);
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 4px 3px;
}
.bt_1:active{
    font-size: var(--font_size_smaller);
    background-color: var(--bg1_active);
    box-shadow: rgba(255, 255, 255, 0.0) 0 0 0 0;
}

.bt_2{
    font-size: var(--font_size_normal);
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--bg2_base);
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px 2px;
}
.bt_2:hover{
    font-size: var(--font_size_larger);
    background-color: var(--bg2_hover);
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 4px 3px;
}
.bt_2:active{
    font-size: var(--font_size_smaller);
    background-color: var(--bg2_active);
    box-shadow: rgba(255, 255, 255, 0.0) 0 0 0 0;
}

.bt_3{
    font-size: var(--font_size_normal);
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--bg3_base);
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px 2px;
}
.bt_3:hover{
    font-size: var(--font_size_larger);
    background-color: var(--bg3_hover);
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 4px 3px;
}
.bt_3:active{
    font-size: var(--font_size_smaller);
    background-color: var(--bg3_active);
    box-shadow: rgba(255, 255, 255, 0.0) 0 0 0 0;
}



.clickable:hover{
    color:  var(--palette_cl_2);
    cursor: pointer;
}
.clickable *:hover{
    color: var(--palette_cl_2);
    cursor: pointer;
}


/* /-----/ Classes de base pour gérer les petits éléments de la page \-----\ */

img{
    user-select: none;
}
img *{
    user-select: none;
}

.no_select{
    user-select: none;
}
.no_select *{
    user-select: none;
}

/* Logo principal ALE affiché en gros */
.header_logo_ale{
    width: var(--size_normal);
    height: var(--size_normal);
    margin: 5px;
    border-radius: 50%;
    border: 1px solid black;
}


#header{
    margin: 0;
    margin-bottom: auto;
}

.progress_bar_background{
    border: 1px solid black;
    border-radius: 5px;
    background: none;
}

.progress_bar_foreground{
    background-color: var(--ale_purple);
}


/* /-----/ Autre, non trié pour l'instant \-----\ */




