/*
Styles globaux de l'application

Section: Couleurs

Auteur: Nathan Cerisara
*/


/* /-----/ Classes de base pour gérer les couleurs et le fond d'ecran \-----\ */


.background_gradient_1{
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background: linear-gradient(to bottom, var(--palette_cl_5) -5%, var(--palette_cl_3) 200%);
}

.background_gradient_2{
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background: linear-gradient(to bottom, var(--palette_cl_5) -5%, var(--palette_cl_3) 150%);
}

.background_gradient_3{
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background: linear-gradient(to right, var(--palette_cl_5) -0%, var(--palette_cl_4) 450%);
}

.background_gradient_4{
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background: linear-gradient(to right, var(--palette_cl_5) -0%, var(--palette_cl_4) 150%);
}

.cl_black{
    color: black;
}

.cl_white{
    color: white;
}

.cl_plt_1{
    color: var(--palette_cl_1);
}

.cl_plt_2{
    color: var(--palette_cl_2);
}

.cl_plt_3{
    color: var(--palette_cl_3);
}

.cl_plt_4{
    color: var(--palette_cl_4);
}

.cl_plt_5{
    color: var(--palette_cl_5);
}



.bg_black{
    background-color: black;
}

.bg_white{
    background-color: white;
}

.bg_plt_1{
    background-color: var(--palette_cl_1);
}

.bg_plt_2{
    background-color: var(--palette_cl_2);
}

.bg_plt_3{
    background-color: var(--palette_cl_3);
}

.bg_plt_4{
    background-color: var(--palette_cl_4);
}

.bg_plt_5{
    background-color: var(--palette_cl_5);
}

.fill_black{
    fill: black;
}

.fill_white{
    fill: white;
}

.fill_plt_1{
    fill: var(--palette_cl_1);
}

.fill_plt_2{
    fill: var(--palette_cl_2);
}

.fill_plt_3{
    fill: var(--palette_cl_3);
}

.fill_plt_4{
    fill: var(--palette_cl_4);
}

.fill_plt_5{
    fill: var(--palette_cl_5);
}



/* Project status colors */

.cl_status_0{
    color: var(--cl_p_status_0);
}

.cl_status_1{
    color: var(--cl_p_status_1);
}

.cl_status_2{
    color: var(--cl_p_status_2);
}

.cl_status_3{
    color: var(--cl_p_status_3);
}

.cl_status_4{
    color: var(--cl_p_status_4);
}

.stroke_status_0{
    stroke: var(--cl_p_status_0);
}

.stroke_status_1{
    stroke: var(--cl_p_status_1);
}

.stroke_status_2{
    stroke: var(--cl_p_status_2);
}

.stroke_status_3{
    stroke: var(--cl_p_status_3);
}

.stroke_status_4{
    stroke: var(--cl_p_status_4);
}

.fill_status_0{
    fill: var(--cl_p_status_0);
}

.fill_status_1{
    fill: var(--cl_p_status_1);
}

.fill_status_2{
    fill: var(--cl_p_status_2);
}

.fill_status_3{
    fill: var(--cl_p_status_3);
}

.fill_status_4{
    fill: var(--cl_p_status_4);
}


