.logo-social{
    display: block;
    max-width:24px;
    max-height:24px;
    width: auto;
    height: auto;
    border:1px solid black;
    border-radius:5px;
    float:left;
    margin-right:5px;
}


.img_res{
    display: block;
    max-width:128px;
    max-height:128px;
    width: auto;
    height: auto;
    border:1px solid black;
    border-radius:5px;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom:20px;
}

.discord_name{
    border:2px solid rgb(0,30,100);
    background-color:rgb(0,60,150);
    border-radius:50px;
    text-align:center;
    width:50%;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom:20px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:40px;
    color:rgb(255,255,255);
}
.discord_name:hover{
    color:rgb(200,200,200);
    background-color:rgb(0,40,130);
    border-radius:30px;
}

.discord_page{
    background-color:rgb(0,100,200);
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
}

.github_page{
    background-color:rgb(255,255,255);
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
}

.github_follow{
    border:2px solid rgb(0,0,0);
    background-color:rgb(255,255,255);
    border-radius:50px;
    text-align:center;
    width:50%;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom:20px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:40px;
    color:rgb(0,0,0);
}
.github_follow:hover{
    color:rgb(30,30,30);
    background-color:rgb(200,200,200);
    border-radius:30px;
}

.twitter-page{
    background-color:rgb(255,255,255);
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
}

.twitter-follow{
    border:2px solid rgb(0,0,0);
    background-color:rgb(29,161,242);
    border-radius:50px;
    text-align:center;
    width:50%;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom:20px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:40px;
    color:rgb(0,0,0);
}
.twitter-follow:hover{
    color:rgb(30,30,30);
    background-color:rgb(19,171,252);
    border-radius:40px;
}

.mail-page{
    background-color:rgb(255,255,255);
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
}

.mail-address{
    border:2px solid rgb(200,200,0);
    background-color:rgb(40,40,40);
    border-radius:50px;
    text-align:center;
    width:50%;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom:20px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:40px;
    color:rgb(255,255,180);
}
.mail-address:hover{
    color:rgb(255,255,0);
    border:3px solid rgb(255,255,0);
    background-color:rgb(80,80,80);
    border-radius:30px;
}

