.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}

.merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
}

.merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
}

.merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
}

.merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
}


.noto-light {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.noto-regular {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.noto-bold {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.noto-black {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.noto-light-italic {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.noto-regular-italic {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.noto-bold-italic {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.noto-black-italic {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 900;
    font-style: italic;
}


