
:root{
    --width_portrait: 150px; }

/* -- Setup petits écrans -- */
@media screen and (max-width: 1000px){
    /* Variables */
    :root{
        --width_portrait: 200px; } }
@media screen and (max-width: 700px){
    /* Variables */
    /* Variables */
    :root{
        --width_portrait: 60px; } }

/* Image portrait */
#img_portrait{
    width: var(--width_portrait); }

.w_75{
    width: 75%; }

.citation_width{
    max-width: 75%;
    min-width: 75%;
    width: 75%; }