
body{
    text-align:center;
    font-size:20px;
    color:rgb(30,30,30);
    margin-top:30px;
    margin-bottom:30px;
    margin-left:30px;
    margin-right:30px;
}

h{

}

h1{
    color:rgb(100,0,0);
}

h2,h3,h4{
    color:rgb(0,0,100);
}

p{
    color:rgb(0,0,0);
}

.conv{
    color:rgb(0,0,0);
    font-weight:1000:
}

.r1{
    color:rgb(100,150,100);
    font-weight:500:
    font-size:30px;
}

.r2{
    color:rgb(100,100,150);
    font-weight:700:
}

.exemple{
    font-weight:400;
    color:rgb(50,100,50);
}

    